{% extends 'base.html' %}

{% block content %}
<section class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="cname">Votre nom</label>
            <input id="cname" name="cname" type="text">
        </p>
        <p>
            <label for="cemail">Email</label>
            <input id="cemail" name="cemail" type="text">
        </p>

            <label for="csubject">Sujet</label>
            <textarea id="csubject" name="csubject" cols="30" rows="10"></textarea>
        </p>

        {% if messages %}
        <ul class="messages">
            {%for message in messages %}
            <li {%if message.tags %} class="{{ message.tags }}" {%endif%}>
                {{message}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit">Envoyer</button>
    </form>
</section>
{% endblock %}