{% extends 'base.html' %}

{% block content %}
<section class="container">
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="email">Email</label>
            <input id="email" name="email" type="text">
        </p>
        <p>
            <label for="password">Mot de Passe</label>
            <input id="password" name="password" type="text">
        </p>

        {% if messages %}
        <ul class="messages">
            {%for message in messages %}
            <li {%if message.tags %} class="{{ message.tags }}" {%endif%}>
                {{message}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit">S'inscrire</button>
    </form>
</section>

{% endblock %}