{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h2 class="section-title">Me Connecter</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="flex-form">
            <ul>
                <li>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text">
                </li>
                <li>
                    <label for="password">Mot de Passe</label>
                    <input id="password" name="password" type="password">
                </li>

            {% if messages %}
                {%for message in messages %}
                <li {%if message.tags %} class="{{ message.tags }}" {%endif%}>
                    {{message}}
                </li>
                {% endfor %}
            {% endif %}

                <li>
                    <button type="submit">S'inscrire</button>
                </li>
            </ul>
        </div> 
    </form>
</section>

{% endblock %}