{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <title>Marketplace</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h1>Marketplace</h1>
    </a>
    {% if user.is_authenticated %}
        {{ user.user_name }}
        <a href="{% url 'logout' %}">Déconnexion</a>
    {% else %}
        <a href="{% url 'signup' %}">S'inscrire</a>
        <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}

    {% block content %}
    {% endblock %}

    <h1>Contact</h1>

</body>
</html>