{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h2 class="section-title">Mon panier</h2>
    <div class="cart" >  
        {% for order in orders %}
        <div class="cart-detail">
            <div class="row">
                <img src="{{ order.product.thumbnail.url }}" alt="{{ order.product.name }}" style="max-width:250px;">
                <div class="cart-sidebar" >
                    <p class="cart-title">{{ order.product.name }}</p>
                    <p>{{ order.quantity }} dans le panier</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="cart-actions row">
            <a href="{% url 'order-cart' %}">Commander le panier</a><br>
            <a href="{% url 'delete-cart' %}">Supprimer le panier</a> 
        </div> 
    </div>
</section>
{% endblock %}